<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepheneisenhauer.ninjamandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.stepheneisenhauer.ninjamandroid.ServerListActivity"
            android:label="@string/title_server_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stepheneisenhauer.ninjamandroid.ServerDetailActivity"
            android:label="@string/title_server_detail"
            android:parentActivityName=".ServerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServerListActivity" />
        </activity>
        <activity
            android:name="com.stepheneisenhauer.ninjamandroid.JamSession"
            android:label="@string/title_activity_jam_session"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:process=":jam">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ninjam" />
            </intent-filter>
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <service
            android:name=".JamService"
            android:process=":jam" />
    </application>

</manifest>
